---
import AboutMe from "../components/AboutMe.astro";
import CustomFooter from "../components/CustomFooter.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <AboutMe />
    <CustomFooter />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
</style>
