---
import BentoGrid from "./BentoGrid.astro";
---

<section class="about-me">
  <BentoGrid/>
</section>

<style>
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
</style>