<div class="parent">
  <div class="card glass saturation">
    <h1>EXPERIENCE</h1>
  </div>
  <div class="div2 glass">
    <h1>PROJECTS</h1>
  </div>
  <div class="div3 glass">
    <h1>CONTACT ME</h1>
  </div>
  <div class="div4 glass">
    <h1>MY CURRICULUM</h1>
  </div>
  <div class="div5 glass">
    <h1>EDUCATION</h1>
  </div>
  <div class="div6 glass">
    <h1>TECHNOLOGIES</h1>
  </div>
</div>

<style>
  .glass {
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow:
      0 8px 32px rgba(31, 38, 135, 0.2),
      inset 0 4px 20px rgba(255, 255, 255, 0.3);
    transition: 0.5s;
  }

  .glass:hover {
    backdrop-filter: blur(2px) saturate(2080%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow:
      2px 12px 30px rgba(31, 38, 135, 0.2),
      5px 12px 20px rgba(255, 255, 255, 0.3);
  }

  .saturation:hover {
    backdrop-filter: blur(2px) saturate(3080%);
  }

  .glass::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow:
      inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
      inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 1%;
    z-index: -1;
    filter: blur(0.1px) drop-shadow(10px 4px 6px black) brightness(80%);
    grid-column: span 3 / span 3;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 9px;
    width: 95%;
    height: 700px;
    margin-bottom: 100px;
  }

  .parent div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .card {
    grid-column: span 3 / span 3;
  }

  .div2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
  }

  .div3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .div4 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
  }
</style>
