<div class="parent">
  <div class="name glass">
    <h1>SANTIAGO FRANCO</h1>
    <h6 class="typewriter">You have the idea I'll find a way to create it</h6>
  </div>
  <div class="profile-photo glass">
    <div class="photo-container">
      <img src="../../public/profile-photo.jpeg" alt="logo" />
    </div>
  </div>
  <div class="details glass">
    <div class="profession">
      <aside>
        <h3>Profession</h3>
      </aside>
      <p>
        Systems Engineer with over 3.5 years of experience in backend and
        full-stack development, software architecture, and DevOps. I specialize
        in building high-availability, scalable systems with Java (8–17), Spring
        Boot, and microservices, and I’ve worked a lot with cloud platforms like
        AWS and Azure. In my roles, I’ve led cross-functional teams, mentored
        other developers, and contributed to big technical decisions on
        large-scale projects. I’m passionate about clean code, agile practices,
        and designing robust systems that meet business needs. Right now, I’m
        looking to take the next step as a Senior Developer or Technical Lead.
      </p>
    </div>
    <div class="Speciality">
      <aside>
        <h3>Speciality</h3>
      </aside>
      <p>
        I specialize in backend and full-stack development, mainly using Java
        (versions 8 through 17), Spring Boot, and microservices architecture.
        I’m also experienced with cloud platforms like AWS and Azure, CI/CD
        pipelines, and containerized deployments with Docker and Kubernetes. On
        top of that, I’ve worked a lot on designing scalable and fault-tolerant
        systems, leading technical discussions, and mentoring other developers.
        I really enjoy applying clean architecture principles, like hexagonal
        design, and making sure systems are robust and easy to maintain.
        Overall, I love bridging technical and business needs to deliver
        reliable and efficient solutions.
      </p>
    </div>
  </div>
</div>

<style>
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #4C5C68;
    }
  }

  @font-face {
    font-family: "TheLastShuriken";
    src: url("../../public/fonts/TheLastShuriken.ttf") format("truetype");
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 9px;
    margin-top: 40px;
    width: 60%;
    height: 800px;
  }

  .parent div {
    border-radius: 10px;
  }

  .name {
    font-family: "TheLastShuriken";
    font-size: 30px;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 3 / span 3;
    text-shadow: 2px 2px #9224f2;
  }

  .name h1 {
    margin-bottom: 0%;
  }
  .name h6 {
    margin-top: 2%;
  }

  .typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid #4C5C68; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1em; /* Adjust as needed */
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

  .profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
  }

  .profile-photo .photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow:;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 9.95px 3.95px 4.6px;
  }

  .profile-photo .photo-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
  }

  .details h3 {
    font-family: "TheLastShuriken";
    font-size: 40px;
    text-shadow: 2px 2px 0#9224F2;
    margin-bottom: 0px;
  }

  .profession {
    margin-bottom: 50px;
  }
  .glass {
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow:
      0 8px 32px rgba(31, 38, 135, 0.2),
      inset 0 4px 20px rgba(255, 255, 255, 0.3);
  }

  .glass::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow:
      inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
      inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 1%;
    z-index: -1;
    filter: blur(0.1px) drop-shadow(10px 4px 6px black) brightness(80%);
    grid-column: span 3 / span 3;
  }
</style>
