<button class="scroll-button">
    ⬇️
</button>

<style>
    .scroll-button{
        width: 60px;
        height: 60px;
        top: 825px;
        left: 1800px;
        position: fixed;
        z-index: 200;
        background-color: purple;
        opacity: 50%;
        border-radius: 100px;
        cursor:pointer
    }

    .scroll-button:hover{
        width: 60px;
        height: 60px;
        top: 825px;
        left: 1800px;
        position: fixed;
        z-index: 200;
        background-color: purple;
        opacity: 90%;
        border-radius: 100px;
        cursor:pointer
    }
</style>